@font-face {
  font-family: InstrumentSerif;
  src: url("../fonts/InstrumentSerif-Regular.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf");
}

h1,
h2 {
  font-family: "InstrumentSerif";
}

h3,
h4 {
  font-family: "Roboto-Bold";
}

p,
label {
  font-family: "Roboto-Regular";
}

nav,
a {
  font-family: "InstrumentSerif";
  font-size: 32px;
}

/* Full size web font size */
@media (min-width: 860px) {
  h1,
  h2 {
    font-family: "InstrumentSerif";
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}

/* Mobil font size */

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}
