* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
}

main {
  /* max-width: 1600px; */
  margin: 0 auto;
  padding: 0px 20px 20px;
  text-align: center;
  flex: 1;
}
