* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
}

main {
  /* max-width: 1600px; */
  margin: 0 auto;
  padding: 0px 20px 100px;
  text-align: center;
}
