body {
  background-color: black;
}
.hero {
  position: relative;
}

.hero img {
  width: 100%;
  display: block;
}

.cta-wrapper {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.hero-cta {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  border: 4px solid white;
  color: white;
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  white-space: nowrap;
}
.hero-cta:hover {
  color: #b85014;
  border: 4px solid #b85014;
}

.arrow {
  display: block;
  width: 12px;
  height: 12px;
  margin: 12px auto 0;

  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
}
.arrow:hover {
  border-right: 2px solid #b85014;
  border-bottom: 2px solid #b85014;
}
#portfolio {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
  max-width: 100%;
}
#portfolio img {
  width: 400px;
  height: 100%;
  object-fit: cover;
  margin: 10px;
}
@media (min-width: 768px) {
  #portfolio {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    padding: 20px;
  }
  #portfolio img {
    margin-top: 50px;
    margin-right: 10px;
    object-fit: cover;
    padding: 20px;
    box-sizing: border-box;
  }
}
