
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #000;
    color: #fff;
    font-family: "Georgia", serif;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 20px 100px;
    text-align: center;
}


h1 {
    font-size: 64px;
    font-weight: 400;
    margin-bottom: 24px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #e0e0e0;
    max-width: 700px;
    margin: 0 auto 60px;
    line-height: 1.6;
}


form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}


form div:nth-child(3),
form div:nth-child(4) {
    grid-column: 1 / -1;
}



.field {
    position: relative;
}

.field.full {
    grid-column: 1 / -1;
}


input,
textarea {
    width: 100%;
    padding: 22px 18px 18px;
    background-color: #2f2f2f;
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    outline: none;
}


label {
    position: absolute;
    top: 8px;
    left: 16px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    pointer-events: none;
}


input:focus,
textarea:focus {
    border-color: #FF5900;
}


textarea {
    resize: noe;
    min-height: 180px;
}


button {
    grid-column: 1 / -1;
    margin: 40px auto 0;
    padding: 14px 40px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #000000;
    color: #ff5900;
    border-color: #ff5900;
}
