/* h1 {
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 24px;
}

p {
  max-width: 700px;
  margin: 0 auto 60px;
  line-height: 1.6;
} */

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

form div:nth-child(3),
form div:nth-child(4) {
  grid-column: 1 / -1;
}

.field {
  position: relative;
}

.field.full {
  grid-column: 1 / -1;
}

input,
textarea {
  width: 100%;
  padding: 22px 18px 18px;
  background-color: #2f2f2f;
  border: 2px solid #fff;
  color: #fff;
  /* font-size: 16px; */
  outline: none;
}

label {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  pointer-events: none;
}

input:focus,
textarea:focus {
  border-color: #ff5900;
}

textarea {
  resize: noe;
  min-height: 180px;
}

.contact-text {
  margin-bottom: 10px;
}

.contact-section {
  width: 1000px;
  margin: 0 auto;
}

.IG_link {
  color: #fff;
}

.IG_link:hover {
  color: #b85014;
}

.button_send {
  grid-column: 1 / -1;
  /* margin: 40px auto 0; */
  padding: 14px 40px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  /* font-size: 18px; */
  cursor: pointer;
  transition: all 0.2s ease;
}

.button_send:hover {
  background-color: #000000;
  color: #ff5900;
  border-color: #ff5900;
}

/* Mobile*/
@media (max-width: 700px) {
  .contact-section {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
  }

  form {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  form div:nth-child(3),
  form div:nth-child(4) {
    grid-column: auto;
  }

  .field.full {
    grid-column: auto;
  }

  input,
  textarea {
    padding: 18px 14px 14px;
  }

  label {
    left: 14px;
    letter-spacing: 2px;
  }

  .button_send {
    width: 100%;
    justify-self: stretch;
    padding: 14px 0;
  }
}
