.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.image-container img {
  width: 80%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content h1 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 20px;
}

.content p {
  font-size: 16px;
  line-height: 1.8;
  color: #fff;
}

.contact-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #000;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 32px;
  transition: background-color 0.3s ease;
  border: 5px solid #ffff;
}

.contact-btn:hover {
  background-color: #000;
  border: 5px solid #b85014;
  color: #b85014;
}

/* Responsivitet */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .content h1 {
    font-size: 32px;
  }

  .content p {
    font-size: 16px;
  }
}
